In [ ]:
# API for countries and pupulation
import requests
import pandas as pd

url_countries = "https://restcountries.com/v3.1/all"

# send API request named as response
response = requests.get(url_countries)

# if we can get data (response 200), otherwise error code
if response.status_code == 200:
    data = response.json()
    print(f'API works ({response.status_code})')
else:
    print(f'Error ({response.status_code})')

API works (200)

In [53]:
countries_data = response.json()

df_population = pd.json_normalize(countries_data)

# only show colums of interest
columns_of_interest = ['name.common', 'capital', 'population', 'area']

df_population = df_population[columns_of_interest]

df_population

          name.common       capital  population       area
0            Botswana    [Gaborone]     2351625   582000.0
1               Tonga  [Nuku'alofa]      105697      747.0
2              Greece      [Athens]    10715549   131990.0
3    Marshall Islands      [Majuro]       59194      181.0
4             Belarus       [Minsk]     9398861   207600.0
..                ...           ...         ...        ...
245           Bahamas      [Nassau]      393248    13943.0
246          Eswatini     [Mbabane]     1160164    17364.0
247            Brazil    [Brasília]   212559409  8515767.0
248         Lithuania     [Vilnius]     2794700    65300.0
249       Saint Lucia    [Castries]      183629      616.0

[250 rows x 4 columns]